
@{
	ViewBag.Title = "createform";
}

<html>
<body>

	<h2>Forms</h2>

	<form action="">
		<label for="fname">Name:</label><br>
		<input type="text" id="fname" name="fname" value=""><br>
		<label for="lname">ID:</label><br>
		<input type="text" id="lname" name="lname" value=""><br><br>
		<input type="Submit" value="Add">
	</form>

</body>
</html>

